[coverage:run]
source = apps, shes_backend
omit =
    */migrations/*
    */tests/*
    manage.py
    shes_backend/wsgi.py

[coverage:report]
show_missing = True
skip_covered = False
fail_under = 80

[coverage:html]
directory = htmlcov
