Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-ratelimit==4.1.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
cryptography==42.0.8
Pillow==10.4.0
django-filter==24.3
dj-database-url==2.2.0
coverage==7.6.1
factory-boy==3.3.1
Faker==28.4.1
bleach==6.1.0
django-sslserver==0.22.0
reportlab==4.2.2
sentry-sdk==2.8.0
pytesseract==0.3.13
pdfplumber==0.11.4
openai
prophet==1.1.5
pgvector==0.3.2
spacy==3.7.4
google-auth==2.49.2
google-auth-httplib2==0.3.1
httplib2==0.31.2
pyasn1==0.6.3
pyasn1-modules==0.4.2
garminconnect==0.2.22